body,h1,h2,h3,p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f4eb;
}

.contents-box {
  width: 960px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 30px;
}

.title {
  position: relative;
  margin: 32px 0 30px 0;
  padding: 10px 0 5px 16px;
  background-color: #FF5722;
  color: #fff;
}

.title::before {
  position: absolute;
  left: 0;
  bottom: 100%;
  content: '';
  height: 28px;
  width: 100%;
  margin-bottom: 4px;
  background-color: #BF360C;
}

.title::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: '';
  height: 20px;
  width: 100%;
  margin-top: 4px;
  background-color: FFAB91;
}

.index {
  padding-left: 20px;
  list-style: none;
}

.index-list {
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 1px #000;
}

.sample-heading {
  position: relative;
  padding: 5px;
}

.sample-heading-text {
  background-color: #FF5722;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  border-radius: 0 0 4px 4px;
  color: #fff;
}

.sample-heading::before {
  position: absolute;
  content: "";
  bottom: 79%;
  width: 100%;
  height: 7px;
  background-color: #FF5722;
}

.sample-box {
  padding: 20px;
}

.footer {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  bottom: 0;
  color: #fff;
  background-color: #442f29;
  text-align: center;
}
